body {
    font-family: 'CodecCold', "Roboto Light", Arial;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}
.text-ellipsis {
/*
    width: 330px;*/
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*убираем тумблер в инпуте number*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.overflow-y-hidden {
    overflow: hidden;
}
.margin_top_05 {
    margin-top: 0.5rem;
}
.margin_top {
     margin-top: 1rem;
}
.margin_top_x4 {
    margin-top: 4rem;
}
.margin_top_x2 {
    margin-top: 2rem;
}
.margin_right {
    margin-right: 1rem;
}
.margin_right_x15 {
    margin-right: 1.5rem;
}

.margin_right_x2 {
    margin-right: 2rem;
}

.margin_left_right{
    margin-left: 10px;
    margin-right: 10px;
}
.margin_bottom {
    margin-bottom: 1rem;
}

.margin_bottom_x2 {
    margin-bottom: 2rem;
}
.margin_top_bottom_10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin_top-10px {
    margin-top: -10px;
}
.margin_top_0 {
    margin-top: 0 !important;
}
.margin_bottom_0 {
    margin-bottom: 0 !important;
}

.padding_bottom {
    padding-bottom: 1rem;
}

.padding_bottom_0 {
    padding-bottom: 0 !important;
}
.style_gray_radius {
    background: #F0F1FA;
    border-radius: 20px;
}
.style_border_radius_15 {
    border-radius: 15px;
}
.style_border_radius_20 {
    border-radius: 20px;
}
.style_border_radius_40 {
    border-radius: 40px;
}

.style_blue_radious {
    border: 1px solid #6D92FF;
    border-radius: 40px;
}
.style_padding_30 {
    padding: 30px;
}
.style_padding_18_20 {
    padding: 18px 20px;
}
.padding_left_3 {
    padding-left: 3.5rem !important;
}
.padding_left {
    padding-left: 1rem !important;
}
.style_padding_left_top_20 {
    padding-left: 20px;
    padding-top: 20px;
}
.style_padding_15_20 {
    padding: 15px 20px;
}
.style_padding_10 {
     padding: 10px !important;
}
.style_padding_10_20 {
    padding: 10px 20px;
}
.style_padding_10_45 {
    padding: 10px 45px;
}
.style_padding_12_20 {
    padding: 12px 20px;
}
.style_padding_5 {
    padding: 5px;
}
.style_padding_bottom__top_10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.style_padding_bottom_10 {
    padding-bottom: 10px !important;
}
.style_padding_bottom_20 {
    padding-bottom: 20px !important;
}
.style_padding_bottom__top_20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.style_padding_left_right_10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.style_padding_top_18 {
    padding-top: 18px !important;
}
.style_text_60_60 {
    font-size: 60px;
    line-height: 60px;
}
.style_text_40_40 {
    font-size: 40px;
    line-height: 40px;
}
.style_text_30_30 {
    font-size: 30px;
    line-height: 30px;
}
.style_text_24_36 {
    font-size: 24px;
    line-height: 36px;
}
.style_text_20_30 {
    font-size: 20px;
    line-height: 30px;
}
.style_text_20_24 {
    font-size: 20px;
    line-height: 24px;
}
.style_text_18_14 {
    font-size: 18px;
    line-height: 14px;
}
.style_text_18_30 {
    font-size: 18px;
    line-height: 30px;
}
.style_text_18_20 {
    font-size: 18px;
    line-height: 30px;
}

.style_text_16_14 {
    font-size: 16px;
    line-height: 14px;
}
.style_text_16_20 {
    font-size: 16px;
    line-height: 20px;
}
.style_text_14_18 {
    font-size: 14px;
    line-height: 18px;
}
.style_text_12_16 {
     font-size: 12px;
     line-height: 16px;
}
.style_text_12_10 {
    font-size: 12px;
    line-height: 10px;
}
.style_text_10_10 {
    font-size: 10px;
    line-height: 10px;
}
.style_text_10_14 {
    font-size: 10px;
    line-height: 14px;
}

.height_max {
    height: max-content;
}
.color__lightblue {
    color: #6D92FF;
}

.color_gray {
    color: #BFBFBF;
}
.color_red {
    color: #EB5757;
}
.color_white {
    color: #ffffff;
}
.color_black {
    color: rgba(0, 0, 0, 1);
}

.color_green {
    color: #1AB385;
}
.bg_white {
    background-color: #ffffff !important;
}
.bg_green {
    background-color: #37D680;
}
.bg_black {
     background-color: #000000;
}
.bg_red {
    background-color: #FF6363;
}
.sale_tip:after {
    content: 'Есть на складе распродажи';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #FF6363;
    color: #ffffff;
    border-radius: 40px;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    font-weight: 800;
}
.in_stock_tip:after {
    content: 'В наличии';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #37D680;
    color: #ffffff;
    border-radius: 40px;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    font-weight: 800;
}

.not_available_tip:after {
    content: 'нет в наличии';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 40px;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    font-weight: 800;
}
.style_width95 {
    width: 95%;
}
.style_width100 {
    width: 100%;
}
.style_width50 {
    width: 50%;
}
.style_width_30 {
    width: 30%;
}
.style_width_max {
    width: max-content !important;
}
.style_width_inh {
    width: inherit;
}
.style_min_width_560 {
    min-width: 560px;
}
.height_40 {
    height: 40px;
}

.end-1 {
    right: 1rem !important;
}
.end-2 {
    right: 2rem !important;
}
.start-05 {
    left: 0.5rem !important;
}

.color_blue {
    color: #1753FF;
}

.style_border_bottom {
    border-bottom: 1px solid #D5D7EA;
}

.style_border_radius_color_lightblue {
    border: 1px solid rgba(109, 146, 255, 1);
    background: transparent;
}

.style_border_transparent {
    border: transparent;
    outline: transparent;
}

.mask {
     display: grid;
     place-items: center;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 999;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.8);
 }
.mask_with_open_header {
    display: grid;
    place-items: start center;
    position: fixed;
    top: 4rem;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.cursor_pointer {
    cursor: pointer;
}

.confirmation_delete_js {
    display: none;
    background: #ffffff;
}

.input_date_rang {
    border: transparent;
    background-color: #F0F1FA;
}

    /*header*/

.page-layout__header {
    margin: 0 0 1rem 0;
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-radius: 0 0 20px 20px;
    height:100px;
    align-items: center;
    z-index: 999;
}
.index_location {
    visibility: hidden;
}

.open_menu {
    display: none;
    top: 0;
    left:0;
    right: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    background: #ffffff;
    width: 100vw;
    padding: 10px;
    padding-top: 0;
    z-index: 1000;
}
.menu_catalog:hover {
    cursor: pointer;
}
.menu_catalog:hover .open_menu_catalog {
    display: block;
}

.open_menu_catalog {
    display: block;
    background: #F0F1FA;
    top: 6rem;
    max-height:0;
    overflow: hidden;

}
.open_menu_catalog li:hover {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    color: #1753FF;
}

.show {
    max-height: max-content;
    overflow: auto;
    padding: 30px;
}

.style_gray_line {
    border-left: 1px solid #D5D7EA;
    padding-left: 1rem;
}

.color_bg_blue {
    background: #1753FF;
}

.open_menu__style_footer {
    color: #ffffff;
}

.close_menu {
    margin-top: -1rem;
}

.open_menu__style_text_mob {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}
.open_menu__style_text_desk {
    font-size: 18px;
    line-height: 50px;
}
.btn_count {
    width: 40px;
    height: 40px;
}

/*content_index*/
.page-layout__content__grid_layout_index {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,max-content);
    gap:40px;
}

.page-layout__content__grid_layout {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-template-rows: repeat(3,max-content);
    gap: 40px;
}
.bg_index {
    min-height: 360px;
}
.bg_index_horeca {
    background: url("/img/bg_index_horeca.png") no-repeat top;
}
.bg_index_add_business {
    background: url("/img/bg_index_add_business.png") no-repeat top;
}
.bg_index_advance_business {
    background: url("/img/bg_index_advance_business.png") no-repeat top;
}
.bg_index_logistic {
    background: url("/img/bg_index_logistiс.png") no-repeat top;
}
.bg_about_sklad {
    background: url("/img/bg_about_sklad.png") no-repeat top;
}
.bg_about_marketplace {
    background: url("/img/bg_about_marketplace.png") no-repeat top;
}

.bg_index__padding {
    padding: 30px 50px 30px 30px;
}
.section_style {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
     color: #ffffff;
 }
.bg_index__bg_icon {
    display: grid;
    place-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.icon_bag {
    background: url("/img/iconBag_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_globe {
    background: url("/img/iconGlobe_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_megaphone {
    background: url("/img/iconMegaphone_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_truck {
    background: url("/img/iconTruck_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_handshake {
    background: url("/img/iconHandshake_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_package {
    background: url("/img/iconPackage_about_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_alidi_white {
    background: url("/img/logoWhite_64.svg") no-repeat center,
    rgba(255, 255, 255, 0.16);
}
.icon_ruble {
    background: url("/img/iconRub_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_about_globe {
    background: url("/img/iconGlobe_about_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_crosshair {
    background: url("/img/iconCrosshair_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_5operators {
    background: url("/img/5operators_67.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_forbs {
    background: url("/img/logoForbes_63.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_users {
    background: url("/img/iconUsersBlack_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_superJob {
    background: url("/img/Superjob_logo_100.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_hh {
    background: url("/img/logoHH_48.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_map {
    background: url("/img/iconMapPinWhite_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.16);
}
.icon_blank {
    background: url("/img/iconCalendarBlank_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_users_white {
    background: url("/img/iconUsersWhite_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.2);
}
.icon_arrow_right {
    background: url("/img/icon_arrow.svg") no-repeat center,
    rgba(240, 241, 250, 1);
    height: 50px;
    width: 50px;
}
.icon_arrow_left {
    background: url("/img/icon_arrow.svg") no-repeat center,
    rgba(240, 241, 250, 1);
    transform: rotate(180deg);
    height: 50px;
    width: 50px;
}
.icon_arrow_right_small {
    background: url("/img/icon_arrow.svg") no-repeat center,
    rgba(240, 241, 250, 1) !important;
    height: 25px;
    width: 25px;
}
.icon_arrow_down_small {
    background: url("/img/icon_arrow.svg") no-repeat center,
    rgba(240, 241, 250, 1);
    transform: rotate(90deg);
    height: 25px;
    width: 25px;
}
.icon_arrow_down_small_bg_white {
    background: url("/img/icon_arrow.svg") no-repeat center;
    transform: rotate(90deg);
    height: 25px;
    width: 25px;
}
.icon_arrow_right_bg_white {
    background: url("/img/icon_arrow.svg") no-repeat center,
   #ffffff;
    height: 50px;
    width: 50px;
}

.icon_arrow_left_small {
    background: url("/img/icon_arrow.svg") no-repeat center,
    rgba(240, 241, 250, 1) !important;
    transform: rotate(180deg);
    height: 25px;
    width: 25px;
}
.rotate_270 {
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg);
}
.rotate_90 {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transform:rotate(90deg);
}
.icon_table {
    background: url("/img/iconTable.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_temperature_plus {
    background: url("/img/iconThermometerHot_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_temperature_minus {
    background: url("/img/iconThermometer_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_frige {
    background: url("/img/iconSnowflake_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_conditioner {
    background: url("/img/iconCondition_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_sertif {
    background: url("/img/iconSert_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_chat {
    background: url("/img/iconChat_50.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_24hours {
    background: url("/img/iconClockClockwise_small.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_truck_white {
    background: url("/img/iconTruckWhite.svg") no-repeat center,
    rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.icon_fileX {
    background: url("/img/iconFileX_small.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_receipt {
    background: url("/img/iconReceipt.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_shopping {
    background: url("/img/iconShopping.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_target {
    background: url("/img/iconTarget.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_docs {
    background: url("/img/iconDocs.svg") no-repeat center,
    rgba(255, 255, 255, 0.8);
}
.icon_timer_white {
    background: url("/img/iconTimerWhite.svg") no-repeat center,
    rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.iconStar {
     background: url("/img/iconStar.svg") no-repeat center;
     height: 20px;
     width: 20px;
 }
.iconStar_active {
    background: url("/img/iconStar_blue.svg") no-repeat center;
    height: 20px;
    width: 20px;
}
.iconStar_40 {
    background: url("/img/icon_star_40.svg") no-repeat center;
    height: 40px;
    width: 40px;
}
.iconStar_active_40 {
    background: url("/img/icon_star__blue_40.svg") no-repeat center;
    height: 40px;
    width: 40px;
}
.iconFavorite {
    background: url("/img/iconFavoritesNormal.svg") no-repeat center;
    height: 20px;
    width: 20px;
}
.iconFavorite_active {
    background: url("/img/iconFavoritesActive.svg") no-repeat center;
    height: 20px;
    width: 20px;
}
.icon_fox {
    background: url("/img/iconFox.png") no-repeat center,
    rgba(255, 255, 255, 0.16);
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(2px);
    height: 160px;
    width: 160px;
}
.icon_wolf {
    background: url("/img/iconWolf.png") no-repeat center,
    rgba(255, 255, 255, 0.16);
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(2px);
    height: 160px;
    width: 160px;
}
.icon_bear {
    background: url("/img/iconBear.png") no-repeat center,
    rgba(255, 255, 255, 0.16);
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(2px);
    height: 160px;
    width: 160px;
}
.icon_elephant {
    background: url("/img/iconElephant.png") no-repeat center,
    rgba(255, 255, 255, 0.16);
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(2px);
    height: 160px;
    width: 160px;
}
.bg_blue {
     background: url("/img/dots_black.png") no-repeat top,linear-gradient(0deg, #6D93FF, #6D93FF);
}
.bg_blue_plus {
    background: url("/img/bg_blue_loyalty.png") repeat top;
}
.bg_grey_without_dots {
    background-color: #F0F1FA;
}
.bg_grey {
    background: url("/img/dots_light.png") no-repeat top,#F0F1FA;
}
.bg_lightblue {
    background:url("/img/dots_light.png") no-repeat top, linear-gradient(0deg, #B4CDFF, #B4CDFF), #F0F1FA;
}
.bg_blue_more_light {
    background: url("/img/dots_light.png") no-repeat top, linear-gradient(0deg, #CDEAF3, #CDEAF3), #F0F1FA;
}
.bg_red_dots {
    background:url("/img/dots_light.png") no-repeat top, linear-gradient(0deg, #FFBBBB, #FFBBBB), #F0F1FA;
}
.bg_violet {
    background: url("/img/dots_light.png") no-repeat top, linear-gradient(0deg, #B1B1ED, #B1B1ED), #F0F1FA;
}
.bg_fox {
    background:url("/img/dotsWhite.png") no-repeat top, #FFCE6F;
}
.bg_wolf {
    background:url("/img/dotsWhite.png") no-repeat top, #80F8E2;
}
.bg_bear {
    background:url("/img/dotsWhite.png") no-repeat top, #CCDBFF;
}
.bg_elephant {
    background:url("/img/dotsWhite.png") no-repeat top, #EFCFDA;
}
.bg_elephant_pic {
    background: url("/img/dotsWhite.png") no-repeat top, url("/img/image_loyalty_eleph.png") no-repeat bottom, #EFCFDA;
    min-height: 490px;
}
.height_150 {
    min-height: 150px;
}
.height_172 {
    min-height: 172px;
}
.height_200 {
    min-height: 200px;
}

.bg_index__heading {
    display: block;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
}

.bg_index__text {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.owl-nav-position-owl2 {
    display: flex ;
    flex-direction: row;
    justify-content: space-evenly;
}

.owl-nav {
    display: flex ;
    flex-direction: row;
    position: absolute !important;
    top: -4rem !important;
    right: 0 !important;
}
.owl7 > .owl-nav > button.owl-prev,
.owl2 > .owl-nav > button.owl-prev {
    margin-right: 1rem !important;
}
.owl-prev,
.owl-next {
    display: inline-block;
    border: initial;
    border-radius: 20px;
    background: #F0F1FA !important;
    font-size: 32px !important;
    height: 50px;
    width: 50px;
    padding: 0;
}
div.owl-item.center > div {
    border-width: 4px !important;
}

/*footer*/

.page-layout__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1753FF;
    border-radius: 40px 40px 0 0;
    padding: 60px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon_style_white {
    background: #ffffff;
    border-radius: 12px;
    color: #1753FF;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.icon_size {
    width: 30px;
    height: 30px;
}

.footer_phone_tip {
    font-weight: 700;
}

.footer_phone {
    display:inline-block;
    font-weight: 800;
    font-size: 20px;
    margin-top: 0.5rem;
}

.footer_text_mob {
    display: none;
}

.footer_text_desktop li {
    padding: 1rem;
}

.footer_bottom {
    background: #1F2A4A;
    color: #ffffff;
    font-size: 12px;
    line-height: 16px;
    border-radius: 0 0 40px 40px;
    padding: 30px 20px 30px 60px;
}

.footer_copyright_mob,
.banner_mob,
.menu_burger {
    display: none;
}
.color_white_bg_blue {
    color: #ffffff;
    background-color: #6D92FF;
}

/*!*DROPDOWN*!*/
/*.dropdown-el {
    margin-top: 20vh;
    min-width: 12em;
    position: relative;
    display: inline-block;
    margin-right: 1em;
    min-height: 2em;
    max-height: 2em;
    overflow: hidden;
    top: .5em;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: #444;
    outline: none;
    border: .06em solid transparent;
    border-radius: 1em;
    background-color: #cde4f5;
    transition: 0.3s all ease-in-out;
}
.dropdown-el input {
    display: none;
}
.dropdown-el label {
    border-top: .06em solid #d9d9d9;
    display: block;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    position: relative;
    transition: 0.3s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
    margin-top: 2em;
    border-top: .06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
}
.dropdown-el input:checked + label:nth-child(2) {
    margin-top: 0;
    position: relative;
}
.dropdown-el::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 0.9em;
    border: 0.3em solid #3694d7;
    border-color: #3694d7 transparent transparent transparent;
    transition: .4s all ease-in-out;
}
.dropdown-el.expanded {
    border: 0.06em solid #3694d7;
    background: #fff;
    border-radius: .25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    max-height: 15em;
}
.dropdown-el.expanded label {
    border-top: .06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
    color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
    color: #3694d7;
}
.dropdown-el.expanded::after {
    transform: rotate(-180deg);
    top: .55em;
}*/

.dropdown-el {
  /* !* margin-top: 20vh;*!*/
    min-width: 100%;
    position: relative;
    display: inline-block;
    /*!*margin-right: 1em;*!*/
    min-height: 3em;
    max-height: 3em;
    overflow: hidden;
    /*top: .5em;*/
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: rgb(33, 37, 41);
    outline: none;
    border: .06em solid transparent;
    border-radius: 1em;
    background-color: rgb(240, 241, 250);
    transition: 0.3s all ease-in-out;
}
.dropdown-el input {
    display: none;
}
.dropdown-el label {
    border-top: .06em solid #d9d9d9;
    display: block;
    height: 3em;
    line-height: 3em;
    padding-left: 2em;
    padding-right: 3em;
    cursor: pointer;
    position: relative;
    transition: 0.3s color ease-in-out;
    font-weight: 700;
}
.dropdown-el label:nth-child(2) {
    margin-top: 3em;
    border-top: .06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
}
.dropdown-el input:checked + label:nth-child(2) {
    margin-top: 0;
    position: relative;
}
.dropdown-el::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 1.3em;
    border: 0.3em solid #3694d7;
    border-color: #3694d7 transparent transparent transparent;
    transition: .4s all ease-in-out;
}
.dropdown-el.expanded {
    border: 0.06em solid #3694d7;
    background: #fff;
    border-radius: .25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0;
    max-height: 15em;
}
.dropdown-el.expanded label {
    border-top: .06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
    color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
    color: #3694d7;
}
.dropdown-el.expanded::after {
    transform: rotate(-180deg);
    top: .55em;
}

.select_question {
    min-width: 95%;
}
#drop5 {
    min-width: 55%;
}

/* item desktop*/
#drop3::after {
    border: 0.3em solid #ffffff;
    border-color: #ffffff transparent transparent transparent;
    right: 1em;
    top: 1.3em;
}
#drop3 {
    color: #ffffff;
    background-color: #6D92FF;
    border-radius: 40px;
}
.dropdown-el.expanded label:hover {
    color: #000000;
}
.dropdown-el.expanded input:checked + label {
    color: #000000;
}
#drop3 .expanded {
    color: #ffffff;
}

.bread_active {
    color: #000;
    background: #ffffff;
    border: 1px solid #D5D7EA;
}
/* pagination*/
.page-link {
    border: initial;
    background: transparent;
    padding: 0;
    color: #000;
}
.page-item {
    border-radius: 20px !important;
    border-color: transparent !important;
    font-size: 16px;
    background-color: #F0F1FA !important;
    color: #000000 !important;
    height: 50px;
    width: 50px;
    place-items: center;
    margin: 0 10px 0 0;
}
.page-item:last-child {
    margin-right: 0;
}

.page-link:hover {
    color: #000;
    background: transparent;
}
.page-item.active .page-link {
    color: #ffffff;
    background: #6D92FF;
}
.page-item + .active {
    color: #ffffff !important;
    background: #6D92FF !important;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.button_filter {
    bottom: 1rem;
    background-color: #ffffff;
}

.z-index_200 {
    position: relative;
    z-index: 200;
}
.heading_24 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 800;
}

.style_input {
    border: 1px solid #D5D7EA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: transparent;
}

.style_16_24 {
    font-size: 16px;
    line-height: 24px;
}

.style_btn_blue {
    color: #6D92FF;
    padding: 18px 0;
    background: transparent;
}

.style_accordion {
    border-color: #F0F1FA;
    background-color: #F0F1FA;
}

.accordion_active {
    background: #6D92FF;
    color: #ffffff;
}
.active_tab {
    background: #6D92FF;
    color: #ffffff;
}
.style_border_lightgray {
    border: 1px solid #D5D7EA;
    background-color: transparent;
}
.border_right_lightgray {
    border-right: 1px solid #D5D7EA;
}
.grid_layout_info {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,220px);
    gap: 40px;
}
.sale_catalog {
    grid-area: sale;
    background: url("/img/bg_catalog/m-saleBg.png") repeat top,
    #FF6363;
    min-height: 140px;
    width: 100%;
}
/*lk*/

.style_order_tip {
    padding: 5px 10px;
    width: max-content;
}

.style_order_shipping {
    color: #6d92ff;
    background: transparent;
}

.style_order_delivered {
    color: #ffffff;
    background: #6d92ff;
}
.blog,
.reviews,
.agreements,
.hotline,
.distribution,
.logistic,
.horeca,
.mission,
.leadership,
.geography,
.belarus,
.kazakhstan,
.partners {
    display: none;
}
.auth_fiz,
.auth_ur,
.clients_style,
.partners_style {
    border-radius: 40px;
    width: 50%;
    cursor: pointer;
}

.form_ur {
    display: none;
}
.icon_info_item:after {
    content: '';
    display: inline-block;
    background: url("/img/iconInfo.svg") no-repeat center;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: -5px;
}
/* скролл дат в пресс-центре */
.horizontal-scroll-wrapper{
    position:absolute;
    display:block;
    top:-3.5rem;
    left:2rem;
    width:50px;
    max-height:350px;
    margin:0;
    overflow-y:auto;
    overflow-x: scroll;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
}

.horizontal-scroll-wrapper > span{
    display:block;
    padding:5px;
    transform:rotate(90deg);
    transform-origin: right top;

}
.horizontal_scroll_tab {
    overflow-y:auto;
    overflow-x: scroll;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
    width: 70px;
    height: 350px;
    padding-top: 150px;
}
.horizontal_scroll_tab > span {
    display:block;
    padding:5px;
    transform:rotate(90deg);
    transform-origin: right top;
    min-height: 150px;
    min-width: 120px;
}
.squares > span{
    margin:10px;
}
.squares{
    padding:30px 0 0 0;
}
.rectangles{
    top:100px;
    padding:100px 0 0 0;
}
.rectangles > span{
    width: 140px;
    height:60px;
    margin:20px 10px;
    padding:5px;
    transform:rotate(90deg) translateY(80px);
    transform-origin: right top;
}
.tab_wrapper {
    top: -10rem;
    overflow-x: hidden;
    width: 60px;
}

/* медиа запрос на отрисовку десктопной версии сайта*/
@media screen and (min-width: 1200px){
    .page-layout__content_mob{
        display: none;
    }
    .page-layout__content__desk {
        display: grid;
        grid-template-columns: minmax(0,0.2fr) minmax(0,0.8fr);
        column-gap: 40px;
    }
    .layout_grid_1col {
        grid-template-columns:  minmax(0,1fr);
    }
    .layout_grid_basket {
        display: grid;
        grid-template-columns:  minmax(0,0.75fr) minmax(0,0.25fr);
        gap: 40px;
    }
    .grid_layout_press {
        grid-template-columns: repeat(3,minmax(0,1fr));
        row-gap: 20px;
        column-gap: 40px;
    }
    .grid_layout_history {
        display: grid;
        grid-template-areas:
                "y1992 y1992 y1993"
                "y2001 y2003 y2005"
                "y2006 y2007 y2008"
                "y2006 y2009 y2010"
                "y2011 y2011 y2012"
                "y2014 y2015 y2012"
                "y2016 y2017 y2017"
                "y2016 y2018 y2019"
                "y2020 y2021 .";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(9,260px);
        gap: 40px;
    }
    .position_1992 {
        grid-area: y1992;
    }
    .position_1993 {
        grid-area: y1993;
    }
    .position_2001 {
        grid-area: y2001;
    }
    .position_2003 {
        grid-area: y2003;
    }
    .position_2005 {
        grid-area: y2005;
    }
    .position_2006 {
        grid-area: y2006;
    }
    .position_2007 {
        grid-area: y2007;
    }
    .position_2008 {
        grid-area: y2008;
    }
    .position_2009 {
        grid-area: y2009;
    }
    .position_2010 {
        grid-area: y2010;
    }
    .position_2011 {
        grid-area: y2011;
    }
    .position_2012 {
        grid-area: y2012;
    }
    .position_2014 {
        grid-area: y2014;
    }
    .position_2015 {
        grid-area: y2015;
    }
    .position_2016 {
        grid-area: y2016;
    }
    .position_2017 {
        grid-area: y2017;
    }
    .position_2018 {
        grid-area: y2018;
    }
    .position_2019 {
        grid-area: y2019;
    }
    .position_2020 {
        grid-area: y2020;
    }
    .position_2021 {
        grid-area: y2021;
    }
    .horizontal-scroll-wrapper {
        max-height: initial;
        height: max-content;
        overflow-x: hidden;
    }
    .page-layout__content__desk_catalog_next {
        display: grid;
        grid-template-columns: minmax(0,0.3fr) minmax(0,0.8fr);
        column-gap: 40px;
    }
    .grid_layout_sale {
        grid-template-areas: "filter item";
    }
    .filter_sale {
        grid-area: filter;
    }
    .items_sale {
        grid-area: item;
    }
    .width_160_desk {
        width: 160px !important;
    }
    .grid_layout_leadership {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,440px);
        gap: 40px;
    }
    .style_text_24_36_desk {
        font-size: 24px;
        line-height: 36px;
    }
    .style_text_16_24_desk {
        font-size: 16px;
        line-height: 24px;
    }
    .style_text_40_50_desk {
        font-size: 40px;
        line-height: 50px;
    }
    .style_text_18_30_desk {
        font-size: 18px;
        line-height: 30px;
    }
    .width_400_desk {
        width: 400px;
    }
    .width_360_desk {
        width: 360px !important;
    }
    .width_300_desk {
        width: 300px !important;
    }
    .width_260_desk {
        width: 260px !important;
    }
    .width_560_desk {
        width: 560px !important;
    }
    .width_530_desk {
        width: 530px !important;
    }
    .width_200_desk {
        width: 200px !important;
    }
    .width_50_desk {
        width: 50%;
    }
    .width_40_desk {
        width: 40%;
    }
    .width_80_desk {
        width: 80%;
    }
    .width_55_desk {
        width: 55%;
    }
    .width_220_desk {
        width: 220px;
    }
    .width_100_desk {
        width: 100%;
    }
    .max_width_560_desk {
        max-width: 560px;
    }
    .width_max_desk {
        width: max-content;
    }
    .style_border_bottom_desk {
        border-bottom: 1px solid #D5D7EA;
    }
    .padding_30_desk {
        padding: 30px !important;
    }
    .padding_40_desk {
        padding: 40px !important;
    }
    .padding__right_40_desk {
        padding-right: 40px !important;
    }
    .style_padding_left_right_20_desk {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .padding_0_desk {
        padding: 0 !important;
    }
    .margin_right_40_desk {
        margin-right: 40px;
    }
    .margin_bottom_1_desk {
        margin-bottom: 1rem;
    }
    .margin_bottom_x2_desk {
        margin-bottom: 2rem;
    }
    .margin_bottom_0_desk {
        margin-bottom: 0;
    }
    .margin_top-15_desk {
        margin-top: -1.5rem !important;
    }
    .margin_top_desk {
        margin-top: 1rem !important;
    }
    .margin_right_desk {
        margin-right: 1rem;
    }
    .style_border_radius_40_only_desk {
        border-radius: 40px;
    }
    .border_transparent_desk {
        border: transparent;
        outline: transparent;
    }
    .margin_right_0_desk {
        margin-right: 0;
    }
    .button_slider_index {
        bottom: 4.3rem;
        left: 4.3rem;
        z-index: 899;
    }
    .position_icon_fav_active_lk_fav {
        margin-bottom: auto;
        margin-top: 1.8rem;
    }
    .button_slider_index .owl-prev {
        margin-right: 1.6rem;
    }
    .layout_grid__catalog {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(10,max-content);
        gap: 40px;
    }
    .banner_catalog {
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .sale_catalog {
        grid-column: 1/3;
        grid-row: 2/4;

    }
    .bg_catalog_sushi {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .bg_catalog_street {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .bg_catalog_pizza {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .bg_catalog_bakaley {
        grid-column: 4/5;
        grid-row: 3/4;
    }
    .bg_catalog_meat {
        grid-column: 1/2;
        grid-row: 4/6;
    }
    .bg_catalog_sauces {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .bg_catalog_conserf {
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .bg_catalog_milk {
        grid-column: 4/5;
        grid-row: 4/5;
    }
    .bg_catalog_nuts {
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .bg_catalog_fish {
        grid-column: 3/5;
        grid-row: 5/6;
    }
    .bg_catalog_egg {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .bg_catalog_vareniki {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .bg_catalog_salami {
        grid-column: 2/4;
        grid-row: 6/8;
    }
    .bg_catalog_fruit {
        grid-column: 4/5;
        grid-row: 6/8;
    }
    .bg_catalog_water {
        grid-column: 1/3;
        grid-row: 8/9;
    }
    .bg_catalog_bread {
        grid-column: 3/4;
        grid-row: 8/9;
    }
    .bg_catalog_healthy {
        grid-column: 4/5;
        grid-row: 8/9;
    }
    .bg_catalog_conditer {
         grid-column: 1/2;
         grid-row: 9/10;
     }
    .bg_catalog_kids {
        grid-column: 2/3;
        grid-row: 9/11;
    }
    .bg_catalog_notfood {
        grid-column: 3/5;
        grid-row: 9/10;
    }
    .bg_catalog_package {
        grid-column: 1/2;
        grid-row: 10/11;
    }
    .bg_catalog_uni {
        grid-column: 3/4;
        grid-row: 10/11;
    }
    .page-layout__content__grid_layout_catalog_desk {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,max-content);
    }
    .layout_grid__catalog_next {
        display: grid;
        grid-template-areas:
                "meat_next meat_next meat_next meat_next"
                "sale_next chiken_next beef_next sub"
                " pork_next other . .";
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,max-content);
        gap: 40px;
    }
    .bg_catalog_next_meat {
        grid-area: meat_next;
    }
    .bg_catalog_next_sale {
        grid-area: sale_next;
    }
    .bg_catalog_next_chicken {
        grid-area: chiken_next;
    }
    .bg_catalog_next_beef {
        grid-area: beef_next;
    }
    .bg_catalog_next_pork {
        grid-area: pork_next;
    }
    .bg_catalog_next_sub {
        grid-area: sub;
    }
    .bg_catalog_next_other {
        grid-area: other;
    }
    .place_grid_truck {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .grow_02 {
        flex-grow: 0.2;
    }
    .padding_5_10_desk {
        padding: 5px 10px;
    }
    .border_bottom_transparent_desk {
        border-bottom-color: transparent;
    }
    .grid_layout_3_2 {
        grid-template-areas:
                "map map map"
                "usersBlack table rub";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,minmax(260px,1fr));
        gap: 40px;
    }
    .position_map {
        grid-area: map;
    }
    .position_users_black {
        grid-area: usersBlack;
    }
    .position_table {
        grid-area: table;
    }
    .position_ruble {
        grid-area: rub;
    }
    .grid_promotion {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:repeat(2,minmax(260px,1fr));
        gap: 40px;
        grid-template-areas:
                "users users blank"
                "micro doc globe";
    }
    .position_users {
        grid-area: users;
    }
    .position_blank {
        grid-area: blank;
    }
    .position_micro {
        grid-area: micro;
    }
    .position_doc {
        grid-area: doc;
    }
    .position_globe {
        grid-area: globe;
    }
    .grid_layout_2_2 {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        grid-template-rows: repeat(2, minmax(300px, 1fr));
        gap: 40px;
    }
    .grid_layout_4_1 {
        display: grid;
        grid-template-columns: repeat(4,minmax(0,1fr));
        grid-template-rows: repeat(1, minmax(340px, 1fr));
        gap: 30px;
    }
    .grid_layout_client {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(7, minmax(220px,1fr));
        gap: 40px;
    }
    .grid_layout_partners {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(14, minmax(220px,1fr));
        gap: 40px;
    }
    .bg_elephant_pic {
        background: url("/img/dotsWhite.png") repeat top, url("/img/image_loyalty_eleph_desk.png") no-repeat right center, #EFCFDA;
        min-height: 390px;
    }
    .banner_desktop {
        display: block;
    }
}
/* медиа запрос на отрисовку мобильной версии сайта*/
@media screen and (max-width: 1199px){
    .page-layout__content__grid_layout_index {
        gap: 10px;
    }
    .page-layout__content__desk,
    .page-layout__content__desk_catalog_next,
    .page-layout__content_desk{
        display: none;
    }
    .page-layout__content_mob{
        display: block;
    }
    .index_location {
        visibility: visible;
    }
    .menu_burger {
        display: block;
    }
    .page-layout {
        padding: 0 !important;
    }
    .page-layout__header {
        border-bottom: 1px solid #D5D7EA;
        position: relative;
        border-radius: initial;
        height: initial;
    }
    .page-layout__content__grid_layout {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-template-rows: repeat(4,max-content);
        gap: 10px;
    }
    .width_315_mob {
        width: 315px !important;
    }
    .width_335_mob {
        width: 335px !important;
    }
    .width_355_mob {
        width: 355px !important;
    }
    .width_152_mob {
        width: 152px !important;
    }
    .width_160_mob {
        width: 160px !important;
    }
    .width_172_mob {
        width: 172px !important;
    }
    .width_80_mob {
        width: 80%;
    }
    .width_200_mob {
        width: 200px;
    }
    .width_105_mob {
        width: 105px;
    }
    .width_130_mob {
        width: 130px;
    }
    .margin_bottom_0_mob {
        margin-bottom: 0;
    }
    .border_transparent_mob {
        border: transparent;
        outline: transparent;
    }
    /*content_index*/
    .bg_index {
        min-height: 236px;
    }

    .bg_index__padding {
        padding: 20px 10px 0 20px;
    }
    .bg_index__bg_icon {
        display: grid;
        place-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 50px;
        height: 50px;
        text-align: center;
    }
    .icon_bag {
        background: url("/img/iconBag.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_globe {
        background: url("/img/iconGlobe.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_megaphone {
        background: url("/img/iconMegaphone.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_truck {
        background: url("/img/iconTruck.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_receipt {
        background: url("/img/iconReceipt_25.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_shopping {
        background: url("/img/iconShopping_25.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_target {
        background: url("/img/iconTarget_25.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_docs {
        background: url("/img/iconDocs_25.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_table {
        background: url("/img/iconTable_25.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_timer_white {
        background: url("/img/iconTimerWhite_24.svg") no-repeat center,
        rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .icon_temperature_plus {
        background: url("/img/iconThermometerHot.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_temperature_minus {
        background: url("/img/iconThermometer.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_frige {
        background: url("/img/iconSnowflake.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_conditioner {
        background: url("/img/iconCondition.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_sertif {
        background: url("/img/iconSert.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_chat {
        background: url("/img/iconChat.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_handshake {
        background: url("/img/iconHandshake.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_package {
        background: url("/img/iconPackage_about.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_alidi_white {
        background: url("/img/logoWhite.svg") no-repeat center,
        rgba(255, 255, 255, 0.16);
    }
    .icon_ruble {
        background: url("/img/iconRub.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_about_globe {
        background: url("/img/iconGlobe_about.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_crosshair {
        background: url("/img/iconCrosshair.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_5operators {
        background: url("/img/5operators.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_forbs {
        background: url("/img/logoForbes.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_users {
        background: url("/img/iconUsersBlack.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_superJob {
        background: url("/img/Superjob_logo.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_hh {
        background: url("/img/logoHH.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_map {
        background: url("/img/iconMapPinWhite.svg") no-repeat center,
        rgba(255, 255, 255, 0.2);
    }
    .icon_blank {
        background: url("/img/iconCalendarBlank.svg") no-repeat center,
        rgba(255, 255, 255, 0.8);
    }
    .icon_users_white {
        background: url("/img/iconUsersWhite.svg") no-repeat center,
        rgba(255, 255, 255, 0.2);
    }
    .bg_index__heading {
        display: block;
        font-weight: 800;
        font-size: 14px;
        line-height: 18px;
    }

    .bg_index__text {
        display: block;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
    }

    /*content catalog*/
    .layout_grid__catalog {
        grid-template-areas:
                "banner banner"
                "sale sale"
                "sushi street"
                "pizza bakaley"
                "meat meat"
                "sauces conserf"
                "milk nuts"
                "fish fish"
                "egg vareniki"
                "salami salami"
                "fruit water"
                "bread healthy"
                "conditer package"
                "notfood notfood"
                "kids uni";
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(14,max-content);
        grid-gap: 10px;
        place-items: start;
    }
    .banner_catalog {
        grid-area: banner;
    }

    .bg_catalog_sushi {
        grid-area: sushi;

    }
    .bg_catalog_street {
        grid-area: street;

    }
    .bg_catalog_pizza {
        grid-area: pizza;

    }
    .bg_catalog_bakaley {
        grid-area: bakaley;

    }
    .bg_catalog_meat {
        grid-area: meat;

    }
    .bg_catalog_sauces {
        grid-area: sauces;

    }
    .bg_catalog_conserf {
        grid-area: conserf;

    }
    .bg_catalog_milk {
        grid-area: milk;

    }
    .bg_catalog_nuts {
        grid-area: nuts;

    }
    .bg_catalog_fish {
        grid-area: fish;

    }
    .bg_catalog_egg {
        grid-area: egg;

    }
    .bg_catalog_vareniki {
        grid-area: vareniki;

    }
    .bg_catalog_salami {
        grid-area: salami;

    }
    .bg_catalog_fruit {
        grid-area: fruit;

    }
    .bg_catalog_water {
        grid-area: water;

    }
    .bg_catalog_bread {
        grid-area: bread;

    }
    .bg_catalog_healthy {
        grid-area: healthy;

    }
    .bg_catalog_conditer {
        grid-area: conditer;

    }
    .bg_catalog_package {
        grid-area: package;

    }
    .bg_catalog_notfood {
        grid-area: notfood;

    }
    .bg_catalog_kids {
        grid-area: kids;

    }
    .bg_catalog_uni {
        grid-area: uni;

    }

    /* catalog_next*/
    .layout_grid__catalog_next {
        display: grid;
        grid-template-areas:
                "meat_next meat_next"
                "sale_next chiken_next"
                "beef_next pork_next"
                "sub other";
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,max-content);
        gap: 10px;
    }
    .bg_catalog_next_meat {
        grid-area: meat_next;
    }
    .bg_catalog_next_sale {
        grid-area: sale_next;
    }
    .bg_catalog_next_chicken {
        grid-area: chiken_next;
    }
    .bg_catalog_next_beef {
        grid-area: beef_next;
    }
    .bg_catalog_next_pork {
        grid-area: pork_next;
    }
    .bg_catalog_next_sub {
        grid-area: sub;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .bg_catalog_next_other {
        grid-area: other;
        grid-column: 2/3;
        grid-row: 4/5;
    }

    /*content client*/
    .grid_layout_client {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(10,minmax(145px,1fr));
        gap: 10px;
    }
    .grid_layout_partners {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(21,minmax(145px,1fr));
        gap: 10px;
    }
    /*about info*/
    .grid_layout_info {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,145px);
        gap: 10px;
    }
    .grid_layout_2_3 {
        grid-template-areas:
                "map map"
                "usersBlack table"
                "rub .";
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
    }
    .position_map {
        grid-area: map;
    }
    .position_users_black {
        grid-area: usersBlack;
    }
    .position_table {
        grid-area: table;
    }
    .position_ruble {
        grid-area: rub;
    }
    .grid_promotion {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
        grid-template-areas:
                "users users"
                "blank micro"
                "doc globe";
    }
    .position_users {
         grid-area: users;
     }
    .position_blank {
        grid-area: blank;
    }
    .position_micro {
        grid-area: micro;
    }
    .position_doc {
        grid-area: doc;
    }
    .position_globe {
        grid-area: globe;
    }
    .position_text_banner_mob {
        top:2rem;
        left: 2rem;
    }
    .position_button_mob_banner {
        bottom: 2.8rem;
        left: 3rem;
    }
    /*footer*/
    .footer_logo,
    .footer_text_desktop,
    .banner_desktop {
        display: none;
    }

    .footer_copyright_mob,
    .footer_text_mob,
    .banner_mob{
        display: block;
    }

    .footer_text_mob li,
    .footer_copyright_mob {
        padding: 0.5rem;
    }
    .page-layout__footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #1753FF;
        border-radius: 20px 20px 0 0;
        padding: 30px;
        color: #ffffff;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
    }

    .footer_phone_tip {
        font-weight: 700;
    }

    .footer_phone {
        display:inline-block;
        font-weight: 800;
        font-size: 20px;
        margin-top: 0.5rem;
    }

    .footer_text_mob {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer_text li {
        padding: 0.5rem;
    }

    .footer_bottom {
        background: #1F2A4A;
        color: #ffffff;
        font-size: 12px;
        line-height: 16px;
        border-radius: 0 0 20px 20px;
        padding: 30px 20px 30px 30px;
    }

    /* item */
    .icon_info_position {
        right: 1rem;
        top: 5rem;
    }
    .icon_warning_position {
        right: 1rem;
        bottom: 1.2rem;
    }
    .icon_Info_position_slider {
        right: 5rem;
        bottom: 0;
    }
}
