﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family:"CodecCold";
    src:url("fonts/codeccold-regular-webfont.eot?") format("eot"),
    url("fonts/codeccold-regular-webfont.woff") format("woff"),
    url("fonts/codeccold-regular-webfont.ttf") format("truetype"),
    url("fonts/codeccold-regular-webfont.svg") format("svg");
    font-weight: 400;
    font-style:normal;
}
